<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>ABOUT ME</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');</style>
</head>
<body>
    <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="aboutme.html">ABOUT ME</a></li>
        <li><a href="service.html">SERVICES</a></li>
        <li><a href="contactme.html">CONTACT ME</a></li>
    </ul>
    <div class="header">
        <h2 class="headabout">¿Quién soy yo?</h2>
        <h3 class="subtema">Sonia Michelle Luna Orellana</h3>
      </div>
    <div class="row">
        <div class="column" style="background-color:rgb(181, 250, 171);">
            <div class="acercademi">
                <h3>Acerca de mí</h3>
                
                <p>
                    Nací el 26 de mayo del 2001 en la ciudad de San Salvador, El Salvador.
                    Soy una joven integral, servicial y que se preocupa por el bienestar de los demás y 
                    que siempre trata dar todo lo mejor de sí para hacer un cambio 
                    en la actualidad.
                    Me gusta ayudar a las personas que más lo necesitan, ya sea mis amigos, familiares
                    o a un adulto mayor.
                    Considero que soy alguien que acepta retos para poder salir de su zona de 
                    comfort y así, ser más segura de mi misma.
                </p>
        
                <img src="https://lh3.googleusercontent.com/__Xx3YL8yPehhy2G4kAPQqUV-mqj6IUWh0JlEG6O0VQXy-2RmGqPHqmCzMn3EOyQgEy8vRdQ0ng2Pc9b_AouR6rUR0JM6PfS0n5k4h0kXVcbXM6pI0_0c-waKGK-Vr-bO1gakrj_XMA=w600-h315-p-k" />
                
            </div>
        </div>
        <div class="column" style="background-color:rgb(202, 141, 202);">
            
            <div id="main-container">
                <h3>Estudios</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Año</th><th>Educación</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>2020-Actual</td><td>Tercer año de Ingeniería de Negocios en la Escuela Superior de Economía y Negocios</td>
                    </tr>
                    <tr>
                        <td>2017-2020</td><td>Bachillerato general en la Escuela Panamericana</td>
    
                    </tr>
                    <tr>
                        <td>2014-2017</td><td>Educacíon media en la Escuela Panamericana</td>
                    </tr>
                    <tr>
                        <td>2009-2014</td><td>Educación primaria en la Escuela Panamericana</td>
                    </tr>
                </table>

        
                
                
            </div>
            <div id="main-container">
                <h3>Experiencia Laboral</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Año</th><th>Empresa</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Junio 2019</td><td>MRO Solutions:
                            Pasante en el área de Planning</td>
                    </tr>
                    <tr>
                        <td>Junio 2018</td><td>Aeroman, S.A. de C.V:
                            Pasante en el área de Planning
                        </td>
    
                    </tr>
                    
                </table>
            </div>
            <div id="main-container">
                <h3>Información general</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Año</th><th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Actual</td><td>Miembro del Staff de la ESEN y del Centro de Liderazgo.</td>
                    </tr>
                    <tr>
                        <td>Actual</td><td>Vicepresidenta de la Sociedad de Alumnos Emprendedores (SAE)
                        </td>
    
                    </tr>
                    
                </table>
            </div>
        </div>
        <div class="column" style="background-color:rgb(181, 250, 171);">
            <div class="intereses">
                <h3>Intereses</h3>
                <div class="tablainteres">
                    <p>
                        Desde pequeña le he mostrado un gran interés al fútbol y me encanta practicarlo.
                        Asimismo, disfruto de ver películas y series.
                        También, me fascina el arte culinario y realizar manualidades.
                        Me interesa bastante trabajar en el área de recursos humanos porque 
                        quiero que las personas se sientan bien en el lugar donde trabajan y quiero distribuir los talentos en la empresa.
                        

                    </p>
                    <img src="/imagenes/FB-IMG-1503890917765-Original.jpg" alt="">

                </div>
            </div>
        </div>
      </div>
</body>
</html>