<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');</style>
    <title>SERVICES</title>
</head>
<body>
    <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="aboutme.html">ABOUT ME</a></li>
        <li><a href="service.html">SERVICES</a></li>
        <li><a href="contactme.html">CONTACT ME</a></li>
    </ul>
    <div class="headerservice">
        <h1>Mis mejores trabajos y recomendaciones</h1>
    </div>

    <div class="separacion">
        <div class="division" style="background-color: rgb(156, 199, 216);">
            <h2>Mis trabajos creativos en la ESEN</h2>
            <img id="info" src="/imagenes/infografia.JPG" alt="">
            <p>Esta infografía del libro, Momentos Estelares de la Ciencia, la hice para la materia de Física I.</p>
            <a class="urlinfo" href="https://drive.google.com/file/d/1aFQQlNtAJ-Jdao7nfU9qmuio9vk8A075/view?usp=sharing"> Da click aquí para poder ver el trabajo completo</a>
            <img id="bt" src="/imagenes/bt.JPG" alt="">
            <p>Proyecto final de la materia de Trabajo en Equipo</p>
            <a class="urlinfo" href="https://drive.google.com/file/d/1bmpoLCnflbmMZz_Bj5pSn-ai4AFiFKYt/view?usp=sharing"> Da click aquí para poder ver el trabajo completo</a>
        </div>
        <div class="division2" style="background-color: azure;">
            <h2>Recomendaciones</h2>
        </div>
    </div>


</body>
</html>